<div class="container">
  <h1><%= @task.title %></h1>
  <div class="task-details">
    <p><%= @task.details %></p>
  </div>
  <div class="task-status">
  <%if @task.completed %> 
    <input type='checkbox' checked onclick="return false;"> - The Task is <b>completed</b>
  <%else%>
    <input type='checkbox' onclick="return false;"> - The Task is <b>not completed</b>
  <%end%>

  <%= link_to 'Edit this Task', edit_task_path(@task), class: 'edit-button'%>
  </div>

  <%= link_to "back to list", tasks_path, class: 'back-button'%>

</div>